{% extends 'base.html' %}

{% block title %}Фильм{% endblock %}

{% block main %}
  <div class="Information">
        <div class="Information_img">
            <img src="/static/img/{{ cards[1].img }}" alt="Тут должна быть картинка">
        </div>
        <div class="Information_text">
            <h3> {{ cards[1].nameFilm }}</h3>
            <p> Год производства: {{ cards[1].year }}</p>
            <p> Страна: {{ cards[1].country }}</p>
            <p> Жанр: {{ cards[1].genre }}</p>
            <p> Премьера: {{ cards[1].premiere }}</p>
            <p> Возраст: {{ cards[1].age }}</p>
            <p class="obzor"> {{ cards[1].review }}</p>
            <div class="return_button">
            <div class="return_button">
                <a href="http://127.0.0.1:5000/index">Вернуться на главную</a>
            </div>
        </div>
  </div>
{% endblock %}